<div class="container mt-5">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <td>
          Product Name
        </td>
        <td>
          Product Description
        </td>
        <td>
          Product Price
        </td>
        <td>
          Product Disocunt Price
        </td>
        <td>
          images
        </td>
        <td>
          Edit
        </td>
        <td>
          Delete
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{prod.productName}}</td>
        <td>{{prod.productDescription}}</td>
        <td>{{prod.productPrice}}</td>
        <td>{{prod.productDiscountPrice}}</td>
        <td>
          <button mat-icon-button color="primary" (click)="openDialog(prod)">
            <mat-icon>image</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>