<section class="bg-color pad">
  <div class="containers">
    <div class="title">
      <img src="../../assets/title.jpg" style="width: 100px; height: 100px; margin-left: 500px; margin-bottom: 1.5rem;">
      <h1>
        <span>Click Shop</span>
      </h1>
    </div>
  </div>
</section>

<hr>
<section class="product-section">
  <label style="margin-left: 74%;">Category : </label>
  <div class="contianer">
    <form #searchForm=ngForm (keyup)="onSearchDebounce()" class="d-flex">
      <input name="search" class="form-control me-2" type="search" placeholder="Search for Products..."
        aria-label="Search" [(ngModel)]="searchKey">
      <select class="category" name="categorySelect" id="categorySelect" [(ngModel)]="filterCategory"
        (ngModelChange)="changeCategory($event)">
        <option selected value="all">All</option>
        <option *ngFor="let cat of allSubCategories" [value]="cat.id">{{cat.subCategoryName}}</option>
      </select>
    </form>

    <app-product-card [products]="products"></app-product-card>

  </div>
</section>
<div class="load-more-btn">
  <button type="button" class="btn btn-warning load-btn" (click)="loadMoreProduct()">Load More</button>
</div>
