<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':selectedFilter == 'ALL'}" aria-current="page"
      (click)="filterOrders('ALL')">All Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':selectedFilter == 'DELIVERED'}"
      (click)="filterOrders('DELIVERED')">Delivered Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':selectedFilter == 'CANCELLED'}"
      (click)="filterOrders('CANCELLED')">Canceled Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':selectedFilter == 'PLACED'}" (click)="filterOrders('PLACED')">Placed
      Orders</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Filter By
      Users</a>
    <ul class="dropdown-menu">
      <li *ngFor="let user of users$ | async" (click)="filterOrdersByUserName(user.firstName)">
        <a class="dropdown-item">{{ user.firstName }}</a>
      </li>
    </ul>
  </li>
</ul>

<div class="container mt-5">
  <span>
    <h1 class="text-center">{{orderTitle}}</h1>
  </span>

  <table class="table table-striped">
    <thead class="table-success">
      <tr>
        <th scope="col">OrderID</th>
        <th scope="col">User Name</th>
        <th scope="col">Delivery Address</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Alt. Contact Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderDetails">
        <td (click)="openOrderModal(order)" data-bs-toggle="modal" data-bs-target="#orderModal"
          style="cursor: pointer; font-weight: 20px; color: blue;">{{order.orderId}}</td>
        <td>{{order.orderFullName}}</td>
        <td>{{order.orderFullOrder}}</td>
        <td>{{order.orderContactNumber}}</td>
        <td>{{order.orderAlternateContactNumber}}</td>
        <td>{{order.orderAmount | currency : 'INR' : 'symbol'}}</td>
        <td [ngClass]="{'text-green':order.orderStatus === 'DELIVERED','text-red':order.orderStatus === 'CANCELLED'}">
          {{order.orderStatus}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="orderModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <form #orderForm="ngForm">
              <div class="mb-3">
                <label for="orderId" class="form-label">orderId</label>
                <input name="orderId" class="form-control" id="orderId" aria-describedby="orderId"
                  [(ngModel)]="order.orderId">
              </div>
              <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input name="userName" class="form-control" id="userName" [(ngModel)]="order.orderFullName">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input name="address" class="form-control" id="address" [(ngModel)]="order.orderFullOrder">
              </div>
              <div class="mb-3">
                <label for="contactNumber" class="form-label">Contact </label>
                <input name="contactNumber" class="form-control" id="contactNumber"
                  [(ngModel)]="order.orderContactNumber">
              </div>
              <div class="mb-3">
                <label for="altcontactNumber" class="form-label">Alt Contact</label>
                <input name="altcontactNumber" class="form-control" id="altcontactNumber"
                  [(ngModel)]="order.orderAlternateContactNumber">
              </div>
              <div class="mb-3">
                <label for="amount" class="form-label">Amount (Rupees)</label>
                <input name="amount" class="form-control" id="amount" [(ngModel)]="order.orderAmount">
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">Order Status</label>
                <input name="status" class="form-control" id="status" [(ngModel)]="order.orderStatus">
              </div>
            </form>
          </div>
          <div class="col-6">
            <p class="card-text">Products</p>
            <div *ngFor="let prod of order?.product">
              <div style="margin-bottom: 1rem;">
                <app-product-card-element [product]="prod.product"></app-product-card-element>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button name="delivered" type="button" class="btn btn-success" (click)="changeOrderStatus($event,order)"
          *ngIf="order.orderStatus == 'PLACED'">MARK
          DELIVERED</button>
        <button name="cancel" type="button" class="btn btn-danger" (click)="changeOrderStatus($event,order)"
          *ngIf="order.orderStatus == 'PLACED'">MARK
          CANCEL</button>
      </div>
    </div>
  </div>
</div>
