<div class="container mt-5">
  <h1 class="text-center">All Orders</h1>
  <div *ngFor="let order of orderDetails">
    <div class="card" style="margin-bottom: 5rem;"
      [ngClass]="order.orderStatus == 'PLACED'? 'bg-light' : order.orderStatus == 'DELIVERED'?'bg-success':'bg-danger'">
      <div class="card-header">
        Order ID : {{order.orderId}}
      </div>
      <div class="card-body">
        <h5 class="card-title"><b>Status: </b>{{order.orderStatus}}</h5>
        <div class="card-text">
          <ul class="list-group" *ngFor="let prd of order.product">
            <li class="list-group-item">
              <p>Product Name : {{prd.product.productName}}</p>
              <hr>
              <p>Price : {{prd.product.productDiscountPrice | currency : 'INR':'symbol'}}</p>
            </li>
          </ul>
        </div>
        <p class="card-text"><b>Total Amount: </b>{{order.orderAmount | currency : 'INR':'symbol'}}</p>
        <p class="card-text"><b>Address: </b>{{order.orderFullOrder}}</p>
        <p class="card-text"><b>Contact: </b>{{order.orderContactNumber}}</p>
      </div>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example" *ngIf="order.orderStatus == 'PLACED'">
        <button name="cancel" type="button" class="btn btn-danger" (click)="changeOrderStatus($event,order)">Cancel
          Order</button>
        <button name="delivered" type="button" class="btn btn-success" (click)="changeOrderStatus($event,order)">Order
          Delivered</button>
      </div>
    </div>
  </div>
</div>
